{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup templates
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% set header_container = theme.settings.header_container ? 'container-fluid header-margin' : 'container' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
      {#navbar-fixed-top#}
    {%
    set navbar_classes = [
    'navbar navbar-default navbar-custom oc_head_bgc',
    theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
    theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : header_container,
    header_container,

    ]
    %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
      {% if not navbar_attributes.hasClass(header_container) %}
        <div class="{{ container }}">
      {% endif %}
      <div class="navbar-header page-scroll">
        {{ page.navigation }}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.navigation_collapsible %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}
      {#{% if site_name %}#}
        {#<a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">{{ site_name }}</a>#}
      {#{% endif %}#}
    </div>

    {#<!-- Collect the nav links, forms, and other content for toggling -->#}
    {#<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">#}
      {#{{ page.header.bootstrap_clean_blog_main_menu }}#}
    {#</div>#}
    {#<!-- /.navbar-collapse -->#}
      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="navbar-collapse collapse navbar-right">
          {{ page.navigation_collapsible }}
        </div>
      {% endif %}
      {% if not navbar_attributes.hasClass(header_container) %}
  </div>
    {% endif %}
</header>
  {% endblock %}
{% endif %}
{% if oc_head_image %}
<div class="oc_title_image_wrapper oc_head_bgc">

<img class="oc_title_image img-responsive" src="{{ oc_head_image }}"  >

</div>
{%  endif %}
    <!-- Page Header -->

<!-- Set your background image for this header on the line below. -->
{#oc_title_image#}
<div class="oc_header oc_head_bgc {% if oc_head_image %}oc_head_imageh{% else %}oc_head_noimageh{% endif %}">
    {#style="background-image: url('{{ oc_title_image}}')"#}

  {#{{ node.field_oc_title_image }}#}
  <div class="container">
    <div class="row">
      {% if node %}
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading oc_heading">

            <h1 class="oc_heading oc_vinject">{{ node.label }}</h1>
              {#{%  if node.field_oc_title_image %}#}
                    {#{{ oc_title_image }}#}
             {#{% else %}#}
              {#no title image#}
              {#{% endif %}#}
            {% if display_submitted %}
              <span class="meta">
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
              </span>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>{% if node.label %} {{ node.label }} {% else %} {{ site_name }} {% endif %}</h1>
            {% if site_slogan %}
              <hr class="small">
              <span class="subheading">
                {{ site_slogan }}
              </span>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{# Header print #}
<div class="visible-print-block header-print page-header">
  <div class="{{ container }}">
    <div class="row">
      <div class="col-sm-12">
          {# Logo print #}
          {% if logo_print %}
            <img class="logo pull-left visible-print-inline-block" src="{{ logo_print }}" />
          {% endif %}
      </div>
    </div>
  </div>
</div>
{# group navigation #}
{% if oc_group %}
    <div class="group_nav_wrapper block-superfish block-superfishtest">
        <div class="group_nav">
            {{ oc_contents }}
            <ul id="superfish-test" class="sf-vertical sf-test sf-style-white sf-js-enabled sf-shadow">
                {#{% for id in content.oc_items|slice(0, 5) %}#}
                    {#<li>{{ id['id'] }} {{ id['type'] }} </li>#}
                    {% embed "page-lbutton.html.twig" %}
                        {%- block oc_icon -%}columns{%- endblock -%}
                        {%- block oc_type -%}lp{%- endblock -%}
                        {%- block oc_name -%}Landing Page{%- endblock -%}
                    {% endembed %}

                {#{% endfor %}#}
                <li class="sf-depth-1 menuparent">
                    <a  href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/sequences" target="_self" class="is-active sf-depth-1 menuparent ">
                        <span class="fa-stack fa-lg ">
                  <i class="fa fa-square fa-stack-2x oc_icon_back"></i>
                  <i class="fa fa-leanpub fa-stack-1x fa-inverse"></i>
                        </span></a>
                    <ul class="sf-hidden oc_ani_text">
                        <li class="sf-depth-2 sf-no-children">
                            <a class="group_nav_text is-active sf-depth-2" target="_self" href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/sequences" >Sequences</a>
                        </li>
                        {% if is_admin %}
                            <li class="sf-depth-2 sf-no-children">
                                <a class="group_nav_text is-active sf-depth-2" target="_self" href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/content/create/group_node%3Aoc_sequence" > Add Sequence</a>
                            </li>
                        {% endif %}
                    </ul>

                </li>

                <li class="sf-depth-1 menuparent">
                    <a  href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/docs" target="_self" class="is-active sf-depth-1 menuparent ">
                        <span class="fa-stack fa-lg ">
                  <i class="fa fa-square fa-stack-2x oc_icon_back"></i>
                  <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                        </span></a>
                    <ul class="sf-hidden oc_ani_text">
                        <li class="sf-depth-2 sf-no-children">
                            <a class="group_nav_text is-active sf-depth-2" target="_self" href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/docs" >Docs</a>
                        </li>
                        {% if is_admin %}
                            <li class="sf-depth-2 sf-no-children">
                                <a class="group_nav_text is-active sf-depth-2" target="_self" href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/content/create/group_node%3Aoc_doc" > Add Doc</a>
                            </li>
                        {% endif %}
                    </ul>

                </li>
                <li class="sf-depth-1 menuparent">
                    <a  href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/books" target="_self" class="is-active sf-depth-1 menuparent ">
                        <span class="fa-stack fa-lg ">
                  <i class="fa fa-square fa-stack-2x oc_icon_back"></i>
                  <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                        </span></a>
                    <ul class="sf-hidden oc_ani_text">
                        <li class="sf-depth-2 sf-no-children">
                            <a class="group_nav_text is-active sf-depth-2" target="_self" href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/books" >Books</a>
                        </li>
                        {% if is_admin %}
                            <li class="sf-depth-2 sf-no-children">
                                <a class="group_nav_text is-active sf-depth-2" target="_self" href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/content/create/group_node%3Aoc_book" > Add Book</a>
                            </li>
                        {% endif %}
                    </ul>

                </li>                <li class="sf-depth-1 menuparent">
                    <a  href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/links" target="_self" class="is-active sf-depth-1 menuparent ">
                        <span class="fa-stack fa-lg ">
                  <i class="fa fa-square fa-stack-2x oc_icon_back"></i>
                  <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                        </span></a>
                    <ul class="sf-hidden oc_ani_text">
                        <li class="sf-depth-2 sf-no-children">
                            <a class="group_nav_text is-active sf-depth-2" target="_self" href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/links" >Links</a>
                        </li>
                        {% if is_admin %}
                            <li class="sf-depth-2 sf-no-children">
                                <a class="group_nav_text is-active sf-depth-2" target="_self" href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/content/create/group_node%3Aoc_link" > Add Link</a>
                            </li>
                        {% endif %}
                    </ul>

                </li>                <li class="sf-depth-1 menuparent">
                    <a  href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/images" target="_self" class="is-active sf-depth-1 menuparent ">
                        <span class="fa-stack fa-lg ">
                  <i class="fa fa-square fa-stack-2x oc_icon_back"></i>
                  <i class="fa fa-image fa-stack-1x fa-inverse"></i>
                        </span></a>
                    <ul class="sf-hidden oc_ani_text">
                        <li class="sf-depth-2 sf-no-children">
                            <a class="group_nav_text is-active sf-depth-2" target="_self" href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/images" >Images</a>
                        </li>
                        {% if is_admin %}
                            <li class="sf-depth-2 sf-no-children">
                                <a class="group_nav_text is-active sf-depth-2" target="_self" href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/content/create/group_node%3Aoc_image" > Add Image</a>
                            </li>
                        {% endif %}
                    </ul>

                </li>  {% if node.type.value[0]['target_id']=="oc_sequence" or node.type.value[0]['target_id']=="oc_doc"  %} <li class="sf-depth-1 menuparent oc_pointer" onclick="showquiz()">
                     <span class="fa-stack fa-lg ">
                  <i class="fa fa-circle fa-stack-2x oc_icon_back"></i>
                  <i class="fa fa-question-circle fa-stack-2x fa-inverse"></i>
                        </span>
                    <ul class="sf-hidden oc_ani_text" >
                        <li class="sf-depth-2 sf-no-children">
                            Interactives
                        </li>

                    </ul>
                    <script>
function showquiz() {
var x = document.getElementsByClassName("oc_quiz");
for(var i = 0; i < x.length; i++) {
if (x[i].style.display == "none") {
x[i].style.display = "block";
} else {
x[i].style.display = "none";
}
}

}
                    </script>{% endif %}

                </li>
            </ul>
            {#<a href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/docs" class="group_nav_text"><span class="fa-stack fa-lg">#}
                  {#<i class="fa fa-square fa-stack-2x oc_icon_back"></i>#}
                  {#<i class="fa fa-file fa-stack-1x fa-inverse"></i>#}
                  {#</span>Docs</a>#}
          {#<a href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/books" class="group_nav_text"><span class="fa-stack fa-lg">#}
                  {#<i class="fa fa-square fa-stack-2x oc_icon_back"></i>#}
                  {#<i class="fa fa-book fa-stack-1x fa-inverse"></i>#}
                  {#</span>Books</a>#}
            {#<a href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/links" class="group_nav_text" ><span class="fa-stack fa-lg">#}
                  {#<i class="fa fa-square fa-stack-2x oc_icon_back"></i>#}
                  {#<i class="fa fa-link fa-stack-1x fa-inverse"></i>#}
                  {#</span>Links</a>#}
          {#<a href="{{ url('<front>')['#markup'] }}group/{{ oc_group }}/images" class="group_nav_text"><span class="fa-stack fa-lg">#}
                  {#<i class="fa fa-square fa-stack-2x oc_icon_back"></i>#}
                  {#<i class="fa fa-image fa-stack-1x fa-inverse"></i>#}
                  {#</span>Images</a>#}
        </div>
    </div>
{% endif %}

{#{% if page.group %}#}
    {#{% block group %}#}
        {#<div class="group_nav">#}
            {#{{ page.group }}#}
        {#</div>#}
    {#{% endblock %}#}
{#{% endif %}#}
{# hero_slider #}
{% if page.hero_slider %}
    {% block hero_slider %}
      <div class="hero_slider">
          {{ page.hero_slider }}
      </div>
    {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content oc_main">
    <div class="row">

        {# Header #}
        {% if page.header %}
            {% block header %}

              <div class="col-sm-12" role="heading">
                  {{ page.header }}
              </div>

            {% endblock %}
        {% endif %}

        {# Sidebar First #}
        {% if page.sidebar_first %}
            {% block sidebar_first %}
              <aside class="col-sm-3" role="complementary">
                  {{ page.sidebar_first }}
              </aside>
            {% endblock %}
        {% endif %}

        {# Content #}
        {%
        set content_classes = [
        page.sidebar_first and page.sidebar_second ? 'col-sm-6',
        page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
        page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
        page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
        %}
      <section{{ content_attributes.addClass(content_classes) }}>

          {# Highlighted #}
          {% if page.highlighted %}
              {% block highlighted %}
                <div class="highlighted">{{ page.highlighted }}</div>
              {% endblock %}
          {% endif %}

          {# Breadcrumbs #}
          {% if breadcrumb %}
              {% block breadcrumb %}
                  {{ breadcrumb }}
              {% endblock %}
          {% endif %}

          {# Action Links #}
          {% if action_links %}
              {% block action_links %}
                <ul class="action-links">{{ action_links }}</ul>
              {% endblock %}
          {% endif %}

          {# Help #}
          {% if page.help %}
              {% block help %}
                  {{ page.help }}
              {% endblock %}
          {% endif %}

          {# Content #}
          {% block content %}
            <a id="main-content"></a>
              {{ route_name }}
              {{ page.content }}
          {% endblock %}
      </section>

        {# Sidebar Second #}
        {% if page.sidebar_second %}
            {% block sidebar_second %}
              <aside class="col-sm-3" role="complementary">
                  {{ page.sidebar_second }}
              </aside>
            {% endblock %}
        {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <div class="footer-wrapper">
      <footer class="footer {{ container }}" role="contentinfo">
        {{ page.footer }}
      </footer>
    </div>
  {% endblock %}
{% endif %}

