{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'oc_block') }}>

  {{ title_suffix.contextual_links }}

  {{ ds_content }}
{#<p>{{ content.thumbnail }}</p><br/>#}
{#<p>{{ content.body }}</p><br/>#}
{{ dd(_context) }}
</{{ ds_content_wrapper }}>
