{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */

 /**
 * Copied from /core/modules/book/templates/book-navigation.html.twig
 *
 * Default theme implementation to navigate books.
 *
 * Presented under nodes that are a part of book outlines.
 *
 * Available variables:
 * - tree: The immediate children of the current node rendered as an unordered
 *   list.
 * - current_depth: Depth of the current node within the book outline. Provided
 *   for context.
 * - prev_url: URL to the previous node.
 * - prev_title: Title of the previous node.
 * - parent_url: URL to the parent node.
 * - parent_title: Title of the parent node. Not printed by default. Provided
 *   as an option.
 * - next_url: URL to the next node.
 * - next_title: Title of the next node.
 * - has_links: Flags TRUE whenever the previous, parent or next data has a
 *   value.
 * - book_id: The book ID of the current outline being viewed. Same as the node
 *   ID containing the entire outline. Provided for context.
 * - book_url: The book/node URL of the current outline being viewed. Provided
 *   as an option. Not used by default.
 * - book_title: The book/node title of the current outline being viewed.
 *
 *
 *
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>
<div class="oc_fixed">
    {#{{ content.field_oc_title_image }}#}
</div>
{{ title_suffix.contextual_links }}
<div id="node-{{ node.id }}">
    <div
            {% if field_oc_background_color %}
                style="background-color:#{{ content.field_oc_back_color }} "
            {% endif %}
            class="{{ classes }}  oc_item oc_accordian_container clearfix"{{ attributes }}>
        {{ title_prefix }}
        {% if not page %}
            <button onclick="MAYOAccordian2('WDoc_{{ node.id }}')"
                    class="oc_btn_block oc_left_align">
                <h2 class="oc_inject oc_item_title" {{ title_attributes }}>
                    {{ title[0]['#context']['value'] }}
                </h2></button>
            <h2 class="oc_inject oc_not_btn oc_item_title" {{ title_attributes }}>
                <a href="/node/{{ node.id }}">{{ title[0]['#context']['value']}}</a>
            </h2>
        {% endif %}
        <div id="WDoc_{{ node.id }}" class="content oc_accordion_content clearfix"{{ content_attributes }}>
            <div class="oc_accordian_container">
                <button onclick="MAYOAccordian('Doc_{{ node.id }}')"
                        class="oc_btn_block oc_left_align">Extra content: videos and links +
                </button>
                <div id="Doc_{{ node.id }}" class="oc_accordion_content">

                    <div class="oc_right">
                        {{ content.field_oc_video }}
                    </div>
                    <div class="oc_right">
                        {{ content.field_oc_external_links }}
                    </div>
                    <div class="oc_right">
                        {{ content.field_oc_internal_links }}
                    </div>
                </div>
            </div>
            <div class="oc_col_width oc_inject">
                {{ content.body }}
            </div>
        </div>
    </div>
    <div id="WDoc_{{ node.id }}x" class="bg-edge2edge oc_accordion_content">
        {{ content.field_oc_linked_image }}
    </div>
</div>


</{{ ds_content_wrapper }}>
<script>
    function MAYOAccordian(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("oc_show") == -1) {
            x.className += " oc_show";
        } else {
            x.className = x.className.replace(" oc_show", "");
        }
    }

    function MAYOAccordian2(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("oc_show") == -1) {
            x.className += " oc_show";
        } else {
            x.className = x.className.replace(" oc_show", "");
        }
        var x = document.getElementById(id + "x");
        if (x.className.indexOf("oc_show") == -1) {
            x.className += " oc_show";
        } else {
            x.className = x.className.replace(" oc_show", "");
        }
    }
</script>