{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}


<div class="content clearfix"{{ content_attributes }}>
  <img class="link-favicon" src="https://www.google.com/s2/favicons?domain={% for key in  field_oc_link.0['#url'].uri |split('/')  %}
{% if loop.index == 3 %}
{{ key }}
{% endif %}
{% endfor %}" alt="favicon">
  <a href="{{ field_oc_link.0['#url'].uri }}">{{ title[0]['#context']['value']}}</a>
    {{ content.body }}
    {{ content.field_oc_author_s_ }}</br>
  {{ content.field_oc_level }}
  {{ content.field_oc_topic }}

    {#{% if is_admin  %}<a href="/node/{{ node.id }}">Orig</a>|<a href="/node/{{ node.id }}/edit">Edit</a>{% endif %}#}

</div>

</{{ ds_content_wrapper }}>
